@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  .subtitle {
    @apply max-w-[450px] text-4xl font-extrabold leading-[56px] mb-5 border-primary;
  }
    input[type=number].appearance-none::-webkit-inner-spin-button,
    input[type=number].appearance-none::-webkit-outer-spin-button {
      -webkit-appearance: none !important;
      margin: 0 !important;
    }
    input[type=number].appearance-none {
      -moz-appearance:textfield !important;
    }


    @font-face {
      font-family: "clash";
      font-style: normal;
      font-weight: 300;
      font-display: "swap";
      src: url("~/assets/fonts/ClashDisplay-Regular.otf");
    }

  
    input[type=number].appearance-none::-webkit-inner-spin-button,
    input[type=number].appearance-none::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number].appearance-none {
      -moz-appearance:textfield;
    }
}
